@import "./utils/functions";
@import "./utils/variables";
@import "./base/fonts";
@import "./base/icons";
@import "./layouts/header";
@import "./layouts/footer";
@import "./components/buttons";
@import "./pages/index";
@import "./pages/menu";




@media screen and (max-width: 480px) /* Smartphones */
{

    #body {
        width: 480px;
        overflow: hidden;
        margin: auto;
    }

    .search p {
        width: 80%;
        margin: auto;
        font-size: 0.8em;
    }

    .step__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section__container {
        margin-left: 15px;
    }
}


@media screen and (min-width: 481px) /* Tablettes */
{
    .search button {
        margin-top: 0px;
    }

    .method {
        margin-bottom: 10px;
    }

    .method__container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
    }

    .step__container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .step__number {
        margin-top: 0px;
        z-index: 1;
    }

    .step, .step--mod {
        width: 230px;
        min-width: 230px;
        margin-left: 0px;
        margin-bottom: 0px;
        text-align: center;
        &__icon {
            margin-left: 25px;
        }
        &__name {
            margin-left: 10px;
            width: 160px;
        }
    }

    .restaurants__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        column-gap: 20px;
        row-gap: 20px;
        margin-top: 20px;
    }

    .restaurants a {
        display: inline-block;
    }

    .restaurants__vignette {
        width: 240px;
        height: 165px;
    }

    .restaurants__vignette__picture {
        width: 240px;
        height: 120px;
    }

    figcaption {
        margin-top: 2px;
    }

    .menu__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .menu section {
        display: inline-block;
    }

    .section__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

    .menu__vignette {
        width: 320px;
    }

    .menu h2 {
        align-self: center;
    }
}