@import "./utils/functions";
@import "./utils/variables";
@import "./base/fonts";
@import "./layouts/header";
@import "./layouts/footer";
@import "./base/icons";
@import "./components/buttons";
@import "./pages/index";
@import "./pages/menu";




@media screen and (max-width: 480px) /* Smartphones */
{

    #body {
        width: 480px;
        overflow: hidden;
        margin: auto;
    }

    .search p {
        width: 80%;
        margin: auto;
        font-size: 0.8em;
    }

    .step__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (min-width: 481px) /* Tablettes */
{
    .search button {
        margin-top: 0px;
    }


    .method {
        margin-bottom: 10px;

    }
    .method__container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
    }

    .step__container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .step__number {
        margin-top: 0px;
        z-index: 1;
    }

    .step {
        width: 230px;
        min-width: 230px;
        margin-left: 0px;
        margin-bottom: 0px;
        text-align: center;
        &__icon {
            margin-left: 25px;
        }
        &__name {
            margin-left: 10px;
            width: 160px;
        }
    }

    .restaurants__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .restaurants__vignette {
        width: 240px;
    }

    .restaurants__vignette__picture {
        width: 240px;
        height: 120px;
    }
}