.search button {
    background-color: $color-primary;
    color: #fff;
    height: 40px;
    border-radius: 20px 20px;
    font-family: "roboto";
    font-size: 0.75em;
    font-weight: bold;
    width: 180px;
    margin-top: 20px;
    cursor: pointer;
}