.button, .order-button {
    display: block;
    background: linear-gradient(0deg, $color-primary, 40%, $color-secondary);
    color: #fff;
    height: 40px;
    border-radius: 20px 20px;
    border: none;
    font-family: "roboto";
    font-size: 0.75em;
    font-weight: bold;
    width: 180px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    text-shadow: 2px 1px $color-txt-secondary;
    position: relative;
    z-index: 1;
    transition : all 800ms;
    transform: perspective(250px) translateZ(0px);
    @include box-shadow;
    &:hover {
        transform: perspective(300px) translateZ(4px);
        &::after {
            content: "";
            opacity: 1;
            transform: scale(1.02);
        }
    }
    &::after {
        content: "";
        position: absolute;
        border-radius: 20px 20px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient($color-secondary, 75%, $color-primary);
        opacity: 0;
        z-index: -1;
        transform: scale(1);
        transition: all 800ms;
        @include box-shadow-grow;
    }
}

.favorite {
    border: none;
    float: right;
    margin-right: 20px;
    opacity: 1;
    z-index: 1;
    position: relative;
    bottom: 10px;
    display: flex;
    background-clip: text;
    width: 20px;
    height: 20px;
}

.favorite i {
    color: black;
    font-size: 20px;
}

.order-button :not(.favorite)
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    @include box-shadow;
}

.new {
    background-color: $color-tertiary;
    font-family: 'roboto';
    font-weight: bold;
    color: rgb(13, 141, 71);
    font-size: 0.7em;
    width: 65px;
    height: 20px;
    display: flex;
    float: right;
    position: relative;
    bottom: 170px;
    left: 35px;
    & span {
        margin: auto;
    }
}

.checkbox {
    float: right;
    display: flex;
    background-color: $color-tertiary;
    width: 60px;
    height: 68px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    position: relative;
    bottom: 60px;
    left: 35px;
    opacity: 0;
    transition: all 200ms ease-in-out;
    @include box-shadow;
    cursor: pointer;
    &::after {
        content: "";
        opacity: 1;
    }
    &:active {
        opacity: 1;
    }
    &:hover {
        & .checkok {
            &:active {
                animation: check-box;
                animation-duration: 200ms;
                animation-fill-mode: both;
            }
        }
    }
}

.checkok {
    margin: auto;
    width: 25px;
    filter: invert(100%) sepia(0%) saturate(7449%) hue-rotate(71deg) brightness(107%) contrast(105%);
    transition: all 300ms ease-in-out;
    animation-fill-mode: both;
}

@media screen and (min-width: 481px) /* Tablettes */
{
    .new {
        position: relative;
        bottom: 150px;
        left: 30px;
    }

    .favorite {
        position: relative;
        bottom: 27px;
    }

    .checkbox {
        position: relative;
        bottom: 60px;
        left: 52px;
    }
}