.button, .order-button {
    display: block;
    background: linear-gradient(0deg, $color-primary, 40%, $color-secondary);
    color: #fff;
    height: 40px;
    border-radius: 20px 20px;
    border: none;
    font-family: "roboto";
    font-size: 0.75em;
    font-weight: bold;
    width: 180px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    text-shadow: 2px 1px $color-txt-secondary;
    position: relative;
    z-index: 1;
    transition : all 800ms;
    transform: perspective(250px) translateZ(0px);
    @include box-shadow;
    &:hover {
        transform: perspective(300px) translateZ(4px);
        &::after {
            opacity: 1;
            transform: scale(1.02);
        }
    }
    &::after {
        content: "";
        position: absolute;
        border-radius: 20px 20px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient($color-secondary, 75%, $color-primary);
        opacity: 0;
        z-index: -1;
        transform: scale(1);
        transition: all 800ms;
        @include box-shadow-grow;
    }
}

.favorite {
    background-image: url(./images/icons/heart.svg);
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    float: right;
    position: relative;
    bottom: 10px;
    margin-right: 15px;
    opacity: 1;
    z-index: 1;
    transition: all 1000ms ease-in-out;
    position: relative;
    z-index: 1;
    transition : all 700ms;
    &:active {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        background-image: url(/images/icons/heart-solid.svg);
        filter: invert(76%) sepia(51%) saturate(3448%) hue-rotate(285deg) brightness(103%) contrast(105%);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transform: scale(1);
        z-index: 0;
        transition: opacity 600ms;
        &:active {
            filter: invert(76%) sepia(51%) saturate(3448%) hue-rotate(285deg) brightness(103%) contrast(105%);
            transform: scale(1.08);
        }
    }
}

.order-button :not(.favorite)
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    @include box-shadow;
}
