.loading {
    display: flex;
    text-align: center;
    align-items: center;
    animation-name: disparition;
    animation-duration: 5000ms;
    animation-fill-mode: forwards;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color: $color-txt-secondary;
}

#loading-spinner {
    opacity: 0;
    font-size: 100px;
    margin: auto;
    color: transparent;
    font-weight: bold;
    background: linear-gradient($color-secondary, 75%, $color-primary);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    animation: loading-spinner 3000ms 100ms forwards;
}


@media screen and (min-width: 481px) /* Tablettes */
{
    #loading-spinner {
    position: relative;
    bottom: 200px;
    width: 40%;
    }
}