.search {
    margin-top: 10px;
    text-align: center;
    background-color: $background-color-primary;
    padding-bottom: 20px;
}

.search__bar {
    display: flex;
    align-items: center;
    background-color: $background-color-secondary;
    justify-content: center;
    height: 30px;
        img {
            float: left;
        }
        form {
            input {
            background-color: $background-color-secondary;
            outline: none;
            border: none;
            width: 140px;
            margin-left: 15px;
            }
        }
}

.method {
    margin-top: 20px;
}

.step__container {
    margin-bottom: 10px;
}

.step {
    display: flex;
    justify-content: flex-start;
    flex-shrink: 2; /* utile pour écrans <280px */
    align-items: center;
    align-content: center;
    width: 340px;
    border-radius: 20px 20px;
    background-color: $background-color-primary;
    @include box-shadow;
    &__name {
        margin-left: 40px;
    }
    & i {
        font-size: 15px;
        color: black;
        margin-left: 30px;
    }
}

.step--mod {
    display: flex;
    justify-content: flex-start;
    flex-shrink: 2; /* utile pour écrans <280px */
    align-items: center;
    width: 340px;
    border-radius: 20px 20px;
    background-color: $background-color-mod;
    @include box-shadow;
}

.step__number {
    float: left;
    display: flex;
    flex-wrap: nowrap;
    margin-right: -10px;
    width: 20px;
    height: 20px;
    min-width: 20px;
    border-radius: 10px 10px;
    background-color: $color-primary;
    z-index: 1;
    @include box-shadow;
    &__1, &__2, &__3 {
        font-size: 0.7em;
        font-family: 'roboto';
        text-align: center;
        margin: auto;
        color: #fff;
    }
}

.restaurants {
    background-color: $background-color-primary;
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    &__vignette {
        width: 95%;
        display: inline-block;
        background-color: #fff;
        border-radius: 15px 15px;
        margin-bottom: 15px;
        padding-bottom: 5px;
        @include box-shadow;
    }
}

.restaurants__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.restaurants a {
    text-decoration: none;
    margin-top: 0px;
}

figure {
    width: 100%;
    display: inline-block;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-radius: 20px 20px;
}

figure > img {
    width: 100%;
    height: 160px;
    border-top-left-radius: 15px 15px;
    border-top-right-radius: 15px 15px;
    object-fit: cover;
    object-position: bottom center;
}

figcaption {
    margin-left: 10px;
    width: 100%;
}

#resto2 {
    object-position: 50% 60%;
}

.secteur {
    font-family: 'roboto-light';
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 10px;
    display: inline;
}