.picture > img {
    width: 100%;
    position: relative;
    top: 10px;
}

.menu {
    background-color: $background-color-primary;
    border-top-left-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    padding-bottom: 30px;
    position: relative;
    bottom: 40px;
}

.menu section {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__vignette {
    display: inline-block;
    background-color: #fff;
    margin-bottom: 10px;
    width: 92%;
    border-radius: 15px 15px;
    padding-left: 15px;
    @include box-shadow;
}

.menu__title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    & .favorite {
        position: relative;
        top: 0px;
        bottom: 0px;
        margin-right: 0px;
    }
}

.menu h1 {
    font-size: x-large;
}

.menu h2 {
    border-bottom: 2px solid $color-tertiary;
    width: 40px;
    align-self: flex-start;
}

h3 {
    margin-bottom: 0px;
    margin-top: 10px;
}

h3 + p {
    margin-top: 5px;
    display: inline-flex;
}

.price {
    float: right;
    margin-right: 20px;
}


@media screen and (min-width: 481px) /* Tablettes */
{
    .picture img {
    height: 300px;
    object-fit: cover;
    object-position: 50% 70%;
    }
    .menu h1 {
        font-size: xx-large;
    }
    .menu h2 {
        margin-left: 0px;
    }
    .menu__container {
        column-gap: 25px;
    }

    .section__container {
        margin-left: 0px;
    }
}
