@mixin box-shadow {
  box-shadow: 3px 3px 3px $background-color-secondary;
}

@mixin box-shadow-grow {
  box-shadow: 8px 8px 8px $background-color-secondary;
}

@mixin btn-mods($colour: $color-primary) {
  lighten : ($colour, 20%);
}

.progress {
  &__bar {
      opacity: 0;
  }
}

@keyframes checkbox{
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0);
        }
    }