$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$background-color-mod: #ffaee7;

$color-button: #FF79DA;

$color-txt-primary: black;
$color-txt-secondary: grey;
$color-txt-tertiary: #fff;

$background-color-primary: #f2f2f2;
$background-color-secondary: rgb(211, 204, 204);


$list1: $color-secondary 0%,$color-secondary 75%, $color-primary 100%;

@mixin gradient($direction, $list) { 
    background: linear-gradient($direction, $list);
}