.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.footer__logo .logo {
    padding-left: 40px;
    margin-top: 15px;
    width: 120px;
    height: 20px;
    filter: invert(88%) sepia(99%) saturate(1%) hue-rotate(269deg) brightness(111%) contrast(97%);
}

.footer a {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #fff;
}
.footer li {
    list-style: none;
    font-family: 'roboto-light';
    font-size: small;
    margin-bottom: 5px;
}
.footer__icon {
    width: 10px;
}

.footer span {
    margin-left: 10px;
    font-family: 'roboto';
    font-size: small;
}

.menu + .footer {
    position: relative;
    bottom: 40px;
}

@media screen and (min-width: 481px)
{
    footer ul {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-left: 0px;
    }

    .footer {
        text-align: center;
    }

    .footer .logo {
        padding-left: 0px;
    }

}